@media only screen and (max-width:810px){
   .navbar .logo img {
      margin: 8px 6px -8px 8px;
      border: 3px solid white;
      border-radius: 50%;
      box-shadow: rgb(84 99 96) -1px 5px 16px 0px;
      overflow: hidden;
      width: 58px;
    }
    .navbar .name {
      color: white;
      font-size: 24px;
      padding-top: 5px;
      text-shadow: -6px 5px 7px rgb(50 53 54);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border-radius: 30px;
    }
    .navbar {
      display: flex;
      align-items: center;
      position: relative;
    }

    .navbar ul li a {
      display: block;
      font-size: 16px;
      padding: 0px 13px;
      text-decoration: none;
      color: white;
      margin: 20px;
      border-radius: 10px;
    }
    #home .h-primary {
      color: black;
      font-size: 40px;
      padding: 25px;
      font-family: 'Fredoka One';
    }
    #home p {
      color: rgb(65, 42, 55);
      text-align: center;
      font-size: 15px;
      font-family: 'Fredoka One';
    }
    #services .box:hover{
      color:black;
      background-color: rgb(182, 243, 247);
      transform: scale(1.05);
      transition-duration: 0.5s;
  }
  .services-container .h-primary {
    color: black;
    font-size: 37px;
    padding: 73px 12px 0px 0px;
    font-family: 'Fredoka One';
  }
  .client-item {
    padding: 29px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #clients {
    flex-direction: row;
  }
  .client-item {
    padding: 29px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #clients img {
    height: 126px;
    box-shadow: 5px 7px 18px black;
  }
  #client-section {
    height: 140px;
  }
  #client-section .h-primary {
    color: black;
    font-size: 40px;
    padding: 12px;
    font-family: 'Fredoka One';
  }
  #contact .h-primary {
    color: black;
    font-size: 34px;
    padding: 12px;
    font-family: 'Fredoka One';
  }
  .network-item img {
    height: 80px;
  }
  .link-item {
    padding: 0px 49px;
    text-decoration: none;
  }
  #contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0px 84px 6px 52px;
    border-radius: 7px;
    font-size: 19px;
    padding-right: 303px;
  }

  #contact-box {
    display: flex;
    justify-content: left;
    left: center;
    padding-bottom: 34px;
    margin-left: 100px;
  }
}
@media only screen and (max-width:380px){
  .navbar ul li a {
    display: none;
  }
  .navbar .name{
    font-size: 28px;
  }
  #home .h-primary {
    color: black;
    font-size: 31px;
    padding: 0px;
    font-family: 'Fredoka One';
  }
  #home p {
    color: rgb(65, 42, 55);
    text-align: center;
    font-size: 12px;
    font-family: 'Fredoka One';
  }
  .services-container .h-primary {
    color: black;
    font-size: 37px;
    padding: 49px 12px 0px 0px;
    font-family: 'Fredoka One';
  }
  .h-secondary {
    font-size: 34px;
    padding: 12px;
    font-family: 'Fredoka One';
  }
  #client-section .h-primary {
    color: black;
    font-size: 37px;
    padding: 0px;
    font-family: 'Fredoka One';
  }
  #clients img {
    height: 55px;
    box-shadow: 5px 7px 18px black;
  }
  .client-item {
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #clients img {
    height: 60px;
    box-shadow: 5px 7px 18px black;
  }
  #contact .h-primary {
    color: black;
    font-size: 28px;
    padding: 0px 0px 0px 56px;
    font-family: 'Fredoka One';
  }
  #contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0px 62px 6px 25px;
      padding-right: 62px;
    border-radius: 7px;
    font-size: 19px;
    padding-right: 197px;
    margin: 4px 10px -1px -80px;
  }
  #contact-box label {
    width: 1.3rem;
    padding: 3px 3px 3px 38px;
    font-size: 18px;
  }
  #contact .h-primary {
    color: black;
    font-size: 28px;
    padding: 0px 0px 0px 0px;
    font-family: 'Fredoka One';
  }
  .network-item img {
    height: 34px;
  }
  .link-item {
    padding: 0px 20px;
    text-decoration: none;
  }
  footer {
    background: grey;
    color: white;
    padding: -2px 48px 0px 0px;
    margin: 7px 0px;
  }
}